.Container{
    width: 755px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
}
.Container header{
    height: 75px;
    background-color:#03045E;
    border-radius:  10px 10px 0 0;
    width: calc(100%-100px);
}
.UserInfo{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    flex-wrap: wrap;
    width: auto;
    height: 160px;
    border: 1px solid rgb(192, 187, 187);
}
.contentProfil{
    display: flex;
}
.ImageProfil{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: relative;
    top: -60px;
    margin-left: 20px;
    object-fit: cover;
}
.PersonnalInfo{
    font-size: 20px;
    font-weight: bold;
    color: #3b3e41;
    margin-left: 20px;
}
.Administrator{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 10px;
}
.NameUser{
    font-size: 25px;
    font-weight: bold;
    color: #3b3e41;
}
.UserRule{
    font-size: 14px;
    color: rgb(75, 71, 71);
}
.ButtonAdmin{
    height: 30px;
    width: 110px;
    text-align: center;
    margin-top: 20px;
    margin-left: 280px;
    border: 2px solid #FF8500;
    color:#FF8500;
    font-weight: bold;
    background-color: #fff;
    border-radius: 20px;
}
<<<<<<< HEAD
.information_content{
    display: flex;
    flex-direction: column;
    padding-left:20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom:1px solid rgb(192, 187, 187);
    border-left:1px solid rgb(192, 187, 187);
    border-right:1px solid rgb(192, 187, 187);
    background-color: #fff;
=======
.ButtonAdmin {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
}
.information_content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #fff;
>>>>>>> e4746c72cdd0ffba17b80f46af36a102ddca1bad
}
.info{
    color: gray;
}
<<<<<<< HEAD
.information_cont{
    display: flex;
    flex-direction: column;
    padding-left:20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom:1px solid rgb(192, 187, 187);
    border-left:1px solid rgb(192, 187, 187);
    border-right:1px solid rgb(192, 187, 187);
    border-radius: 0 0 10px 10px;
    background-color: #fff;
}
=======
.info {
  color: gray;
}
>>>>>>> e4746c72cdd0ffba17b80f46af36a102ddca1bad
