.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.FirstSigninPage {
  width: 100%;
  height: 400px;
  background: url("../../../assets/images/svg/banner.svg") no-repeat;
  /* background-size: contain; */
  position: fixed;
  overflow: hidden;
  padding-inline: 250px;
}
.FirstSigninContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
}
.LogoImg {
  width: 250px;
  height: auto;
}
.SignInDescription {
  font-weight: bold;
  width: 450px;
  color: #fff;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 26px;
  transform: rotateZ(0deg);
}
.SecondSinginPage {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 300px;
  height: auto;
  padding: 0 250px 60px 250px;
}
.buttonForm {
  margin-top: 30px;
  height: 50px;
  background-color: #3e4bff;
  font-weight: bold;
  font-size: 16px;
}
.signinSvg {
  width: 330px;
  height: auto;
  margin-top: auto;
}
.Signinform {
  width: auto;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 2px 5px #aaa;
  padding: 20px;
  position: relative;
  background-color: #fff;
}
.ContentSigninForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 70px;
}
.titleSigninForm {
  top: -50px;
  height: 50px;
  width: 72%;
  padding: 20px;
  color: #fff;
  background-color: #3e4bff;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: "Nunito-Bold";
  font-size: 18px;
}
.InputSpace {
  height: auto;
}
.signinPasword {
  color: gray;
  margin-top: 20px;
  font-size: 14px;
}
.signinClick {
  color: #ff8500;
  font-size: 14px;
}

.loadingContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #b1e3ff;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  animation: loadingBackground 2s infinite linear;
}

.loadingContent {
  width: 300px;
  height: 100%;
  transform: translateX(-200px);
  background-color: #3e4bff;
  display: block;
  animation: loading 2s infinite linear;
}

@keyframes loadingBackground {
  0% {
    background-color: #b1e3ff;
  }

  100% {
    background-color: #fff2e4;
  }
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
    width: 300px;
    background-color: #3e4bff;
  }

  25% {
    width: 200px;
  }

  50% {
    width: 150px;
  }

  75% {
    width: 200px;
  }

  100% {
    transform: translateX(150%);
    width: 300px;
    background-color: #ff8500;
  }
}

@media screen and (max-width: 1300px) {
  .FirstSigninPage {
    padding-inline: 150px;
  }

  .SecondSinginPage {
    padding: 0 150px 60px 150px;
  }
}

@media screen and (max-width: 1100px) {
  .FirstSigninPage {
    padding-inline: 100px;
  }

  .SecondSinginPage {
    padding: 0 100px 60px 100px;
  }
}

@media screen and (max-width: 950px) {
  .FirstSigninPage {
    padding-inline: 20px;
  }

  .SecondSinginPage {
    padding: 0 20px 60px 20px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    overflow-y: auto;
  }

  .signinSvg {
    display: none;
  }

  .FirstSigninContent {
    align-items: center;
  }

  .SignInDescription {
    width: 500px;
    font-size: 24px;
    text-align: center;
    margin-left: 0;
  }

  .LogoImg {
    width: 200px;
  }

  .SecondSinginPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
  }
}
