.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.FirstSigninPage{
    width: 100%;
    height: 400px;
    background: url("../../../assets/images/svg/banner.svg"); 
    position: fixed;
    overflow: hidden;
}
.FirstSigninContent{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 90px;
    width: 40%;
}
.LogoImg {
    width: 250px;
    height: auto;
  }
.SignInDescription{
    font-weight: bold;
    color: #fff;
    margin-top: 40px;
    font-size: 26px;
    transform: rotateZ(0deg);
}
.SecondSinginPage{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 300px;
    height: auto;
    padding: 0 100px 60px 100px;
}
.buttonForm{
    top: 20px;
    height: 55px;
    background-color: #3E4BFF;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}
.Signinform{
    width: auto;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 5px 10px 3px gray;
    padding:20px;
    position: relative;
    background-color: #fff;
}
.ContentSigninForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
}
.titleSigninForm{
    top: -35px;
    height: 40px;
    width: 72%;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    background-color:#3E4BFF;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputSpace{
    height: 40px;
    border-radius: 7px;
}
.signinPasword{
    color:gray;
    margin-top: 30px;
    font-size: 14px;
}
.signinClick{
    color: #FF8500;
    font-size: 14px;
}
