/* Style for loading page */

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
  height: auto;
  animation: loading 0.7s infinite alternate ease-in;
  opacity: 1;
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}
